::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: #222;
    border: 0px solid #222;
    border-radius: 5px;
}

div.editor-main {
    padding: 20px;
    padding-top: 0px;
}

div.editor-wrapper {
    border: solid 1px #ddd;
    border-top: none;
}

div.editor-wrapper > div {
    display: none;
}

div.editor-wrapper > div.active {
    display: block;
}

div.editor-wrapper > div > div {
    height: 100%;
}

div[role="tree"] {
    overflow-y: scroll;
}

div[role="editor"] {
    overflow-y: auto;
}

div[role="tree"]::-webkit-scrollbar-track {
    background-image: url('/img/rail.png');
    background-repeat: repeat-y;
}

div.large-item {
    height: 2000px;
    width: 100px;
    background-image: url('/img/photo.jpg');
    background-repeat: repeat-y;
}
